.popup {
  display: flex;
  margin: 0;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.5);
  background-size: 100%;
  position: fixed;
  top:0;
  left:0;
  align-items: center;
  justify-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}