@use '../../../abstract/mixins.scss' as *;

.profile__add {
  grid-area: add-button;
  margin: 0;
  display: block;
  min-width: 150px;
  height: 50px;
  border:none;
  background:none;
  cursor: pointer;
  border: 2px solid white;
  background-image: url(../../../../images/Add.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;

  
  @include width-md {
    background-size: calc(3*100vw/160 + 10px);
    max-width: 100%; 
  }

  @include width-min {
    background-size: 16px;
    font-size: 27px;
  }
}

.profile__add:hover {
  opacity: 60%;
}

