.popup__input {
    margin:0 0 30px;
    border: 0;
    max-width: 100%;
    min-height: 27px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 14px;
    line-height: 16.94px;
    font-family: inherit;
    border-bottom: 1px solid #bcbcc4;
}

.popup__input:last-of-type {
    margin:0;
  }