.profile {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 100%;
  min-width: 282px;
  box-sizing: border-box;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 768px) {
    .profile {
      flex-direction: column;
      margin-top: 42px;
    }
  }