.profile {
  margin: 40px 0 auto;
  max-width: 100%;
  min-width: 282px;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 918px) {
  .profile {
    margin: 0 19px;
  }
}

@media screen and (max-width: 768px) {
    .profile {
      max-width: fit-content;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 42px;
    }
  }