.profile {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 100%;
  min-width: 282px;
  box-sizing: border-box;
  min-height: fit-content;
  display:grid;
  grid-template:
    'avatar . name . edit-button . add-button'
    'avatar . . . . . add-button' 7px
    'avatar . spec spec spec . add-button'
    / 120px 30px auto 18px 1fr 30px 150px;
  align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
      flex-direction: column;
      margin-top: 42px;
    }
}