.profile__edit {
  margin:0;
  border:none;
  background:none;
  background: url(../../../images/edit.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding:0;
  align-self: center;
  width: 24px;
  height: 24px;
  grid-area: edit;
}

.profile__edit:hover {
  background: url(../../../images/edit_hover.svg);
  }

@media screen and (max-width: 768px) {
    .profile__edit {
      width: calc(3*100vw/224 + (96px/7));
      height: calc(3*100vw/224 + (96px/7));
    }
  }
  
  @media screen and (max-width: 320px) {
      .profile__edit {
        width: 18px;
        height: 18px;
      }
    }