.popup__container {
  box-sizing: border-box;
  min-width: 430px;
  margin: auto;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .popup__container {
    min-width: calc(37*100vw/80 + 134px);
    padding-top: calc(9*100vw/320 + 16px);
    padding-left: calc(7*100vw/160 + 8px);
    padding-right: calc(7*100vw/160 + 8px);
    padding-bottom: calc(3*100vw/80 + 13px);
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    min-width: 282px;
    margin-left: 19px;
    margin-right: 19px;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
  }
}