.cards__name {
  margin:0;
  box-sizing: border-box;
  margin-top:auto;
  margin-bottom:auto;
  padding-left: 21px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}