.cards__like {
  width: 22px;
  height: 19px;
  cursor: pointer;
  background-image: url(../../../images/like-dis.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.cards__like:hover {
  opacity: 60%;
}