@use '../../abstract/mixins.scss' as *;

.profile {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 100%;
  min-width: 282px;
  box-sizing: border-box;
  min-height: fit-content;
  display:grid;
  grid-template:
    'info . add-button'
    / auto 30px 150px; 
  align-items: center;
  justify-content: space-between;

  @include width-md {
    grid-template:
      'info'
      '.' 36px
      'add-button'
      / 100%;
  }
} 
