.cards {
    margin: 51px auto 0;
}

@media screen and (max-width: 768px) {
  .cards {
    margin-top: calc(15*100vw/448 + (177px/7));
  }
}

@media screen and (max-width: 320px) {
  .cards {
    margin-top: 36px;
  }
}
