.popup__close-button {
    position: absolute;
    padding: 0;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    border:none;
    background:none;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.popup__close-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 640px) {
  .popup__close-button {
    width: calc(3*100vw/80 + 9px);
    height: calc(3*100vw/80 + 9px);
    right: calc(40px - (100vw/8));
    top: calc(-32px - (100vw/80));
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36x;
  }
}