.profile__spec {
  grid-area: spec;
  max-width: 100%;
  margin:0;
  align-self: start;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}

@media screen and (max-width: 768px) {
    .profile__spec {
      font-size: calc(100vw/112 + (78px/7));
      line-height: calc(121*100vw/11200 + (4719px/350));
      max-width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .profile__spec {
      font-size: 14px;
      line-height: 1.21;
    }
}