@use '../../../abstract/mixins.scss' as *;

.profile__spec {
  grid-area: spec;
  max-width: 100%;
  margin:0;
  align-self: start;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;

  @include width-md {
    margin: 0 auto;
    font-size: calc(100vw/80 + 10px);
  }

  @include width-min {
    font-size: 14px;
  }
}