.profile__info {
  margin:0;
  grid-area: info;
  justify-self: start;
  display:grid;
  grid-template:
    'avatar . name . edit-button'
    'avatar . spec spec spec'
    /120px 30px minmax(100px,100%) 18px 24px;
  align-items: center;
}