.profile__info {
  margin:0;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-content: center;
  grid-template-areas:
  "name edit"
  "spec spec";
  gap: 16px 18px;
  }

  @media screen and (max-width: 768px) {
    .profile__info {
      gap: calc(100vw/224 + (88px/7)) calc(100vw/56 + (30px/7));
    }
  }

@media screen and (max-width: 480px) {
  .profile__info {
    margin-top: 26px;
    margin-left: 0;
    gap: 14px 10px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
  "edit name edit"
  "spec spec spec";
  }
}