.header {
  margin:0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: calc(17*100vw/448 + (111px/7));
    padding-bottom: calc(47*100vw/2240 + (871px/35));
  }
}

@media screen and (max-width: 320px) {
    .header {
      padding-top: 28px;
      padding-bottom: 31.6px;
    }
  }